---
layout: default
# individual pages for each gallery
header:
    title: Some Title
    background-color: "#6B8A78"
---

<div id="main">
<article class="post">

<header>
  <div class="title">
  <h2>{{ page.title }}</h2>
  <h3>{{ page.description }}</h3>
  </div>
</header>


<div class="mini-posts">

        {% for image in page.images %}

        <article class="mini-post">
            <header><h3><a href="{{ image }}">
                {% if page.captions[image] == nil %} {{ image | split: "." | first | replace: "_", " " |  replace: "-", " "  }} {% else %} {{ page.captions[image] }} {% endif %}
            </a></h3></header>

            <a href="{{ image }}" class="image fit">
                <img data-caption="{{ page.captions[image] }}.  <a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}" alt="{{ page.captions[image] }}" title="{{ page.captions[image] }}">
            </a>
        </article>

        {% endfor %}
    </ul>
</div>

</article>
</div>

