      <!-- Sidebar -->
      <!-- <section id="sidebar"> -->

        <!-- Intro -->
          <div id="intro">
            <!-- <a href="#" class="logo"><img src="/images/logo.jpg" alt="filtration logo" /></a> -->
            <header>
              <h2><a href="/about.html">{{site.title}}</a></h2>
              <p>A mathematician/software engineer post-doc.</p>
              <p>For my background and papers click <a href="/about.html"><strong>here</strong></a>.</p>
              <p>Some recent news is below.</p>
              <ul class="icons">
                <li><a href="https://twitter.com/PatrickLaub" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://open.spotify.com/playlist/48fyvRyIfhOJPlrzoThGMJ" class="icon brands fa-spotify"><span class="label">Spotify</span></a></li>
                <li><a href="https://www.instagram.com/drlaub/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="http://github.com/Pat-Laub" class="icon solid fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto: patrick.laub@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
              </ul>
            </header>

          </div>


        <!-- </section> -->