<div id="main">

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

{% assign url_len = page.url | size %}
{% assign filename = page.url | remove: "/" | split: '.' | first %}


{% for post in paginator.posts %}
  <article class="post">
        <header>
          <div class="title">
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <p>{{ post.subtitle }}</p>
          </div>

          <div class="meta">
              <time class="published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
          </div>

        </header>

        {% if post.banner %}
        <a href="{{ post.url | relative_url }}"><img src="/images/{{ post.banner }}" title="{{ post.banner_alt }}" class="image featured"/></a>
        {% endif %}

        {{ post.excerpt }}
        <br><br>

        <footer>
          <ul class="actions">
            <li><a href="{{ post.url | relative_url }}" class="button big">Continue Reading</a></li>
          </ul>
          <ul class="stats">
            <li>{{ post.tags | join: ", " }}</li>
            <!--<li><a href="#" class="icon fa-heart">28</a></li>-->
            <li><a href="{{ post.url | relative_url }}#disqus_thread" class="icon fa-comment" aria-label="See comments on post"></a></li>
          </ul>
        </footer>
      </article>
{% endfor %}

<!-- Pagination -->
<ul class="actions pagination">
  <li>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button big previous">Previous Page</a>
    {% else %}
    <a href="" class="disabled button big previous">Previous Page</a>
    {% endif %}
  </li>
  <li>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button big next">Next Page</a>
    {% else %}
    <a href="" class="disabled button big next">Next Page</a>
    {% endif %}
  </li>
</ul>

</div>