---
layout: default
---

<div id="main">
<article class="post">

<header>
  <div class="title">
  <h2>About Moi</h2>
  </div>
</header>

<span class="image featured"><img src="/images/montreal.jpg" alt="" /></span>

<p>
Papers... presentations... poster...
</p>

<p>
In terms of my actual resume, I'd refer you to my LinkedIn page. This is to save duplication, and also since it's nice know who's stalking you ha.
</p>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/plaub" data-format="inline" data-related="false"></script>

</article>
</div>
