---
layout: default
# individual pages for each gallery
header:
    title: Some Title
    background-color: "#6B8A78"
---

<div id="main">
<article class="post">

<header>
  <div class="title">
  <h2>{{ page.title }}</h2>
  <h3>{{ page.description }}</h3>
  </div>
</header>


<div class="mini-posts-grid">

        {% for image in page.images %}
        {% if page.captions[image.name] == nil %}
          {% assign caption_words = image.name | split: "." | first | replace: "_", " " |  replace: "-", " " | split: " "%}
          {% capture titlecase %}{% for word in caption_words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
          {% assign caption = titlecase %}
        {% else %}
          {% assign caption = page.captions[image.name] %}
        {% endif %}
        <article class="mini-post">
            <header><h3><a href="{{ image.name }}">
            {{ caption }}
            </a></h3></header>
            <a data-fancybox="gallery" href="{{ image.name }}" data-caption="{{ caption }}"  class="image">
                <img src="thumbs/{{ image.name }}" alt="{{ caption }}" title="{{ caption }}">
            </a>
        </article>

        {% endfor %}
    </ul>
</div>

</article>

  <!-- {% include disqus_comments.html %} -->

</div>

