---
layout: default
---

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

<div id="main">

  <!-- Post -->
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <div class="title">
      <h1>{{ page.title | escape }}</h1>
      <p>{{ page.subtitle }}</p>
      </div>

      <div class="meta">
        <time class="published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
      </div>
    </header>

    {% if page.banner %}
        <img src="{{ site.baseurl }}/images/{{ page.banner }}" title="{{ page.banner_alt }}" class="image featured" />
    {% endif %}

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>

</div>

{% if page.mathjax %}

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({

    TeX: { equationNumbers: { autoNumber: "AMS" } },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$', '$$'] ],
      processEscapes: true,
    },
  });
  </script>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
{% endif %}